* {
    font-family: "Fira Sans Semibold", "JetBrainsMono Nerd Font", FontAwesome,
        Roboto, Helvetica, Arial, sans-serif;
    min-height: 20px;
    font-size: 12px;
    transition: background-color 0.3s ease-out;
}

window#waybar {
    background: #060709;
    color: #c0caf5;
    transition: background-color 0.5s;
}

.modules-left,
.modules-center,
.modules-right {
    background: rgba(0, 0, 8, 0.7);
    padding: 0 2px;
}
.modules-left {
    padding: 0;
    border-radius: 0px 12px 12px 0px;
}
.modules-center {
    padding: 0 2px;
    border-radius: 12px;
}
.modules-right {
    padding: 0;
    border-radius: 12px 0px 0px 12px;
}

#privacy,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#bluetooth,
#power-profiles-daemon,
#language,
#custom-power,
#custom-notification,
#mpd {
    padding: 0 10px;
    border-radius: 12px;
}

#privacy:hover,
#custom-power:hover,
#clock:hover,
#battery:hover,
#cpu:hover,
#memory:hover,
#disk:hover,
#temperature:hover,
#backlight:hover,
#network:hover,
#pulseaudio:hover,
#wireplumber:hover,
#custom-media:hover,
#tray:hover,
#mode:hover,
#idle_inhibitor:hover,
#scratchpad:hover,
#power-profiles-daemon:hover,
#language:hover,
#custom-notification:hover,
#mpd:hover {
    background: rgba(26, 27, 38, 0.9);
}
#workspaces button {
    background: transparent;
    font-family:
        JetBrainsMono Nerd Font,
        feather;
    font-size: 12px;
    color: #c0caf5;
    border: none;
    padding: 0 2px;
    border-radius: 12px;
}

#workspaces button.active {
    background: #13131d;
}

#workspaces button:hover {
    background: #11111b;
    color: #cdd6f4;
    box-shadow: none;
}
